<h2>Mobiles</h2>
<div class="container">
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>MobileID</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Storage</th>
        <th>RAM</th>
        <th>Price</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let m of mobiledata">
        <td>{{m.MobileID}}</td>
        <td>{{m.Brand}}</td>
        <td>{{m.Model}}</td>
        <td>{{m.Storage}}</td>
        <td>{{m.RAM}}</td>
        <td>{{m.Price}}</td>
        <td>{{m.Description}}</td>
        <td>
          <div>
            <a class="edit-icon" href="#"><i class="bi bi-pencil-square"></i></a>
            <a class="delete-icon" href="#"><i class="bi bi-trash"></i></a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
