<!-- Home section Product Cards Section -->
<div class="container mt-4">   
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="../assets/product2.jpeg" class="card-img-top" alt="Products Image">
          <div class="card-body">
            <h5 class="card-title"><i class="bi bi-cpu-fill"></i> Products</h5>
            <p class="card-text">Explore the latest mobile phones.</p> 
             <a routerLink="/producttable" class="btn btn-primary" >View Products</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="../assets/mobile.jpeg" class="card-img-top" alt="Mobiles Image">
          <div class="card-body">
            <h5 class="card-title"><i class="bi bi-phone"></i> Mobiles</h5>
            <p class="card-text">Explore the latest mobile phones.</p>
            <a routerLink="/getMobiles" class="btn btn-primary">View Mobiles</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="../assets/laptop2.jpeg" class="card-img-top" alt="Laptops Image">
          <div class="card-body">
            <h5 class="card-title"><i class="bi bi-laptop"></i> Laptops</h5>
            <p class="card-text">Discover powerful laptops for your needs.</p>
            <a routerLink="/getLaptops" class="btn btn-primary">View Laptops</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="../assets/acces1.jpeg" class="card-img-top" alt="Accessories Image">
          <div class="card-body">
            <h5 class="card-title"><i class="bi bi-headphones"></i> Accessories</h5>
            <p class="card-text">Enhance your gadgets with accessories.</p>
            <a routerLink="/accessories" class="btn btn-primary">View Accessories</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="../assets/smartwatch1.jpeg" class="card-img-top" alt="SmartWatch Image">
          <div class="card-body">
            <h5 class="card-title"><i class="bi bi-watch"></i> SmartWatch</h5>
            <p class="card-text">Explore the latest smartwatches.</p>
            <a routerLink="/smartwatches" class="btn btn-primary">View SmartWatches</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="../assets/explore1.jpeg" class="card-img-top" alt="Explore Image">
          <div class="card-body">
            <h5 class="card-title"><i class="bi bi-compass"></i> Explore</h5>
            <p class="card-text">Explore more gadgets and accessories.</p>
            <a routerLink="/explore" class="btn btn-primary" target="-blank">Explore More</a>
          </div>
        </div>
      </div>
    </div>
  </div>